<?xml version="1.0"?>
<config>
    <modules>
        <Vijay_Festivalbackgroundimage>
            <version>1.0.0</version>
        </Vijay_Festivalbackgroundimage>
    </modules>
    <frontend>
        <routers>
            <vijay_festivalbackgroundimage>
                <use>standard</use>
                <args>
                    <module>Vijay_Festivalbackgroundimage</module>
                    <frontName>vijay_festivalbackgroundimage</frontName>
                </args>
            </vijay_festivalbackgroundimage>
        </routers>
        <layout>
            <updates>
                <vijay_festivalbackgroundimage>
                    <file>vijay_festivalbackgroundimage.xml</file>
                </vijay_festivalbackgroundimage>
            </updates>
        </layout>
        <translate>
            <modules>
                <Vijay_Festivalbackgroundimage>
                    <files>
                        <default>Vijay_Festivalbackgroundimage.csv</default>
                    </files>
                </Vijay_Festivalbackgroundimage>
            </modules>
        </translate>
    </frontend>
    <global>
        <resources>
            <vijay_festivalbackgroundimage_setup>
                <setup>
                    <module>Vijay_Festivalbackgroundimage</module>
                    <class>Vijay_Festivalbackgroundimage_Model_Resource_Setup</class>
                </setup>
            </vijay_festivalbackgroundimage_setup>
        </resources>
        <blocks>
            <vijay_festivalbackgroundimage>
                <class>Vijay_Festivalbackgroundimage_Block</class>
            </vijay_festivalbackgroundimage>
        </blocks>
        <helpers>
            <vijay_festivalbackgroundimage>
                <class>Vijay_Festivalbackgroundimage_Helper</class>
            </vijay_festivalbackgroundimage>
        </helpers>
        <models>
            <vijay_festivalbackgroundimage>
                <class>Vijay_Festivalbackgroundimage_Model</class>
                <resourceModel>vijay_festivalbackgroundimage_resource</resourceModel>
            </vijay_festivalbackgroundimage>
            <vijay_festivalbackgroundimage_resource>
                <class>Vijay_Festivalbackgroundimage_Model_Resource</class>
                <entities>
                    <festivalbackground>
                        <table>vijay_festivalbackgroundimage_festivalbackground</table>
                    </festivalbackground>
                </entities>
            </vijay_festivalbackgroundimage_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <vijay_festivalbackgroundimage>
                    <file>vijay_festivalbackgroundimage.xml</file>
                </vijay_festivalbackgroundimage>
            </updates>
        </layout>
        <translate>
            <modules>
                <Vijay_Festivalbackgroundimage>
                    <files>
                        <default>Vijay_Festivalbackgroundimage.csv</default>
                    </files>
                </Vijay_Festivalbackgroundimage>
            </modules>
        </translate>
        <global_search>
            <festivalbackground>
                <class>vijay_festivalbackgroundimage/adminhtml_search_festivalbackground</class>
                <acl>vijay_festivalbackgroundimage</acl>
            </festivalbackground>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Vijay_Festivalbackgroundimage before="Mage_Adminhtml">Vijay_Festivalbackgroundimage_Adminhtml</Vijay_Festivalbackgroundimage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <vijay_festivalbackgroundimage>
            <general>
                <is_enabled>1</is_enabled>
            </general>
            <frontend>
                <includejquery>1</includejquery>
            </frontend>
        </vijay_festivalbackgroundimage>
    </default>
</config>
